Package: com.ps.emojiport10resources-assets16
Name: EmojiPort Resources — iOS 16 Assets
Depends: firmware (<< 17.0)
Conflicts: com.ps.emojiport10resources (<< 1.9.0)
Replaces: com.ps.emojiport10resources (<< 1.9.0)
Version: 1.9.0
Architecture: iphoneos-arm
Description: CFBurstTrie keyword index files for iOS 16 and earlier
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
